$color-primary: #58bcb6;
$color-primary-dark: #4da09b;
$color-primary-light: #bdfcf8;
$color-black: black;
$color-white: #fff;
$color-light-grey: #F6F6F6;
$color-purple: #655cc9;
$color-purple-dark: #2e2887;
$color-purple-light: #c6c2fc;
$color-font-dark: #242a30;