$color-primary: #a6ddc5;
$color-primary-dark: #4da09b;
$color-primary-light: #bdfcf8;
$color-secondary: #00104b;
$color-secondary-dark: #030216;
$color-secondary-light: #7c99ff;
$color-tertiary: #ff8d51;
$color-tertiary-dark: #8e4a27;
$color-tertiary-light: #fcd4bf;
$color-black: black;
$color-white: #fff;
$color-light-grey: #F6F6F6;
$color-font-dark: #00114b;