.hero {
    position: relative;
    background-color: $color-secondary;
}

.hero__container {
    margin: 0 auto;
    max-width: 1130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;

    @include respond (tab-port) {
        flex-direction: column;
    }

    &__card {
        min-height: 450px;
        width: 45%;

        @include respond (tab-port) {
            width: 100%;
        }

        &--left {
            position: relative;

            @include respond (tab-port) {
                min-height: 35rem;
            }

            &--content {
                position: absolute;
                top: 45%;
                transform: translateY(-50%);

                @include respond (tab-port) {
                    text-align: center;
                }
            }
        }

        &--right {
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../img/hero.png);
            background-size: cover;
            background-position: center top;
            z-index: 2000;
            min-height: 100%;
            clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);

            @include respond (tab-port) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                min-height: 28rem;
            }
        }
    }
}
