.Nav {
    background-color: $color-secondary;
    position: sticky; top: 0;
    position: -webkit-sticky;
    z-index: 3000;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
}

.Navbar {
    display: flex;
    padding: 1.7rem 3rem;
    max-width: 1130px;
    margin: 0 auto;
}

.Navbar__Link-brand {
	display: flex;
    align-items: center;
	text-decoration: none;
	cursor: pointer;
}

.Navbar__Link-brand-name {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-white;
}

.Navbar__Link-brand-logo {
    height: 66px;
}

.Navbar__Link {
    text-decoration: none;
    color: $color-primary;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2.2rem;
    cursor: pointer;

    &:hover {
	    color: $color-primary-dark; 
	    border-bottom: 1px dotted $color-primary-dark;
    }

    &:active {
	    transform: translateY(.1rem); 
    }
}

.Navbar__Items {
    display: flex;
    align-items: center;
}

.Navbar__Items--right {
    margin-right:auto;
}

.Navbar__Link-toggle {
    display: none;
    color: $color-primary;
    text-decoration: none;
    font-size: 2.6rem;
    width: 50px;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .Navbar {
    	padding: 12px 3rem;
    }

    .Navbar__Items,
    .Navbar {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .Navbar__Link {
 	     margin-top: 1rem;
    }
    
    .Navbar__Items {
        display:none;
        margin-top: 2rem;
    }
    
	.Navbar__Items--right {
	    margin-right: 0;
	}
	    
	.Navbar__ToggleShow {
	    display: flex;
	}
    
	.Navbar__Link-toggle {
	    align-self: flex-end;
	    display: initial;
	    position: absolute;
	    cursor: pointer;
        top: 3rem;
	}
}
