.button:link,
.button:visited {
    text-decoration: none;
    padding: .7rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative; 
}

.button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}

.button:active {
    transform: translateY(.1rem); 
}

.btn--green {
    background-color: $color-primary;
    color: $color-font-dark; 
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn--green:hover {
    background-color: $color-primary-dark; 
}

.button--nav {
    background-color: $color-white;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-size: 1.5rem !important;

    @media only screen and (max-width: 768px) {
        margin-top: 2rem;
    }
}

.btn--nav:hover {
    background-color: $color-primary-dark; 
    border: none;
    color: $color-white;
}